In [398]:
import pandas as pd
import os
interseting = pd.read_excel("C:\workspace\dataset\interesting.xlsx", engine='openpyxl')
coordinate = pd.read_excel("C:\workspace\dataset\coordinate.xlsx", engine='openpyxl')
popl_7 = pd.read_csv("C:\workspace\dataset\popl_7.csv")

### #1
- coordinate 엑셀 파일을 불러와 서울만 따로 저장했다.
- 필요 없는 데이터는 drop했다.

In [399]:
coordinate

               코드       시도   시군구    읍면동   하위         위도          경도 코드종류
0      1111051500    서울특별시   종로구  청운효자동  NaN  37.584009  126.970626    H
1      1111053000    서울특별시   종로구    사직동  NaN  37.575408  126.965944    H
2      1111054000    서울특별시   종로구    삼청동  NaN  37.590758  126.980996    H
3      1111055000    서울특별시   종로구    부암동  NaN  37.594768  126.965574    H
4      1111056000    서울특별시   종로구    평창동  NaN  37.613029  126.974485    H
...           ...      ...   ...    ...  ...        ...         ...  ...
22214  5013032022  제주특별자치도  서귀포시    표선면  하천리  33.348068  126.832421    B
22215  5013032023  제주특별자치도  서귀포시    표선면  성읍리  33.393144  126.794822    B
22216  5013032024  제주특별자치도  서귀포시    표선면  가시리  33.354784  126.771072    B
22217  5013032025  제주특별자치도  서귀포시    표선면  세화리  33.321147  126.798867    B
22218  5013032026  제주특별자치도  서귀포시    표선면  토산리  33.319789  126.774678    B

[22219 rows x 8 columns]

In [400]:
coordinate = coordinate.loc[coordinate['시도']=='서울특별시']
coordinate

              코드     시도  시군구    읍면동   하위         위도          경도 코드종류
0     1111051500  서울특별시  종로구  청운효자동  NaN  37.584009  126.970626    H
1     1111053000  서울특별시  종로구    사직동  NaN  37.575408  126.965944    H
2     1111054000  서울특별시  종로구    삼청동  NaN  37.590758  126.980996    H
3     1111055000  서울특별시  종로구    부암동  NaN  37.594768  126.965574    H
4     1111056000  서울특별시  종로구    평창동  NaN  37.613029  126.974485    H
...          ...    ...  ...    ...  ...        ...         ...  ...
4008  1174010600  서울특별시  강동구    둔촌동  NaN  37.531157  127.142891    B
4009  1174010700  서울특별시  강동구    암사동  NaN  37.552497  127.133010    B
4010  1174010800  서울특별시  강동구    성내동  NaN  37.531338  127.129174    B
4011  1174010900  서울특별시  강동구    천호동  NaN  37.543676  127.131748    B
4012  1174011000  서울특별시  강동구    강일동  NaN  37.569204  127.171620    B

[891 rows x 8 columns]

In [401]:
coordinate.drop(['코드종류','하위'], axis= 1, inplace = True)
coordinate

C:\Users\user\anaconda3\envs\caba\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              코드     시도  시군구    읍면동         위도          경도
0     1111051500  서울특별시  종로구  청운효자동  37.584009  126.970626
1     1111053000  서울특별시  종로구    사직동  37.575408  126.965944
2     1111054000  서울특별시  종로구    삼청동  37.590758  126.980996
3     1111055000  서울특별시  종로구    부암동  37.594768  126.965574
4     1111056000  서울특별시  종로구    평창동  37.613029  126.974485
...          ...    ...  ...    ...        ...         ...
4008  1174010600  서울특별시  강동구    둔촌동  37.531157  127.142891
4009  1174010700  서울특별시  강동구    암사동  37.552497  127.133010
4010  1174010800  서울특별시  강동구    성내동  37.531338  127.129174
4011  1174010900  서울특별시  강동구    천호동  37.543676  127.131748
4012  1174011000  서울특별시  강동구    강일동  37.569204  127.171620

[891 rows x 6 columns]

### #2
- popl_7 csv 파일을 불러와 데이터 탐색을 했다.
- popl_7 파일을 불러 올때, column들이 밀려서 불려왔다.
- reset_index()함수를 통해 기존 인덱스로 불려온 '기준일ID'를 컬럼으로 바꿔주었고, column들을 재할당했다.

In [402]:
popl_7 = popl_7.reset_index()
popl_7.drop('여자70세이상생활인구수', axis = 1, inplace = True)
popl_7.columns = ['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수',
       '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '남자20세부터24세생활인구수',
       '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
       '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수',
       '남자55세부터59세생활인구수', '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수',
       '여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수',
       '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수',
       '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수',
       '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', '여자60세부터64세생활인구수',
       '여자65세부터69세생활인구수', '여자70세이상생활인구수']
popl_7

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220701,0,11740560,20846.9243,818.9991,607.4987,601.4973,458.5558,478.6953,575.3735,...,472.5080,687.2636,1206.1899,983.9243,997.7539,674.5397,858.1682,632.0105,595.9335,1387.4420
1,20220701,0,11320681,15736.8591,638.6480,427.2095,543.0753,387.3929,406.7258,364.0340,...,512.3144,437.4816,592.3657,566.3815,672.5752,778.0874,808.5344,767.0374,511.8369,1078.2873
2,20220701,0,11710642,33484.9306,590.5560,259.1215,547.6122,1168.0764,1615.7321,2020.5939,...,1947.1895,2353.4380,2086.2610,1531.5239,1242.8944,1026.7279,874.3376,896.8396,677.9346,1376.9081
3,20220701,0,11215820,26227.6887,556.0031,339.0859,670.3329,1095.8110,1373.8865,1309.0986,...,1786.2526,1265.1292,1199.6805,1007.9460,980.0437,901.0732,1103.1327,883.9014,574.5393,1407.9589
4,20220701,0,11230545,31948.4742,890.8261,425.6721,690.1825,1868.8605,1681.8415,980.2639,...,1559.1687,944.3268,933.5843,851.9271,1020.5819,915.2205,1052.1750,956.0412,1001.1059,2609.3887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,20220731,23,11140615,24152.7596,144.4987,105.2936,228.4234,775.0644,1430.7860,1674.4897,...,1297.0720,1288.7435,1411.6259,1177.3327,1060.5672,888.4488,954.5904,773.8641,457.1925,973.2884
315452,20220731,23,11230710,18702.8045,370.9141,181.3097,556.0677,1679.7651,1197.8983,681.2906,...,1447.6310,543.1042,549.7611,472.5698,501.5160,480.9597,503.2399,431.1500,424.6274,1254.4966
315453,20220731,23,11710550,16285.3724,518.7068,311.2234,401.0656,431.2163,557.7115,590.6219,...,441.7839,543.9800,551.5594,486.0225,578.0346,675.5376,765.6041,831.1999,525.2088,1349.9905
315454,20220731,23,11710580,30229.0999,1181.4199,483.4989,608.1389,787.7194,1501.7294,1631.2134,...,1752.9630,1754.0432,1597.1977,1263.6023,1207.2093,996.7023,1159.7473,988.9106,772.9636,1542.8214
315455,20220731,23,11650580,18442.8618,888.6939,655.8964,824.7565,430.1317,465.2366,381.4644,...,415.8222,451.4587,724.4136,805.1688,1214.8880,754.1314,554.8994,474.0441,408.6404,999.6834

### #3
- popl_7 csv 파일과 coordinate를 행정동 코드를 통해 merge를 시도했지만 되지않았다.
- 데이터를 확인한 결과 coordinate 코드에는 popl_7 행정동 코드에 '00'이 추가로 붙어있었다.
- 그래서 람다 함수로 popl_7의 행정동 코드에 *100을 해주었다.

In [403]:
popl_7

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220701,0,11740560,20846.9243,818.9991,607.4987,601.4973,458.5558,478.6953,575.3735,...,472.5080,687.2636,1206.1899,983.9243,997.7539,674.5397,858.1682,632.0105,595.9335,1387.4420
1,20220701,0,11320681,15736.8591,638.6480,427.2095,543.0753,387.3929,406.7258,364.0340,...,512.3144,437.4816,592.3657,566.3815,672.5752,778.0874,808.5344,767.0374,511.8369,1078.2873
2,20220701,0,11710642,33484.9306,590.5560,259.1215,547.6122,1168.0764,1615.7321,2020.5939,...,1947.1895,2353.4380,2086.2610,1531.5239,1242.8944,1026.7279,874.3376,896.8396,677.9346,1376.9081
3,20220701,0,11215820,26227.6887,556.0031,339.0859,670.3329,1095.8110,1373.8865,1309.0986,...,1786.2526,1265.1292,1199.6805,1007.9460,980.0437,901.0732,1103.1327,883.9014,574.5393,1407.9589
4,20220701,0,11230545,31948.4742,890.8261,425.6721,690.1825,1868.8605,1681.8415,980.2639,...,1559.1687,944.3268,933.5843,851.9271,1020.5819,915.2205,1052.1750,956.0412,1001.1059,2609.3887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,20220731,23,11140615,24152.7596,144.4987,105.2936,228.4234,775.0644,1430.7860,1674.4897,...,1297.0720,1288.7435,1411.6259,1177.3327,1060.5672,888.4488,954.5904,773.8641,457.1925,973.2884
315452,20220731,23,11230710,18702.8045,370.9141,181.3097,556.0677,1679.7651,1197.8983,681.2906,...,1447.6310,543.1042,549.7611,472.5698,501.5160,480.9597,503.2399,431.1500,424.6274,1254.4966
315453,20220731,23,11710550,16285.3724,518.7068,311.2234,401.0656,431.2163,557.7115,590.6219,...,441.7839,543.9800,551.5594,486.0225,578.0346,675.5376,765.6041,831.1999,525.2088,1349.9905
315454,20220731,23,11710580,30229.0999,1181.4199,483.4989,608.1389,787.7194,1501.7294,1631.2134,...,1752.9630,1754.0432,1597.1977,1263.6023,1207.2093,996.7023,1159.7473,988.9106,772.9636,1542.8214
315455,20220731,23,11650580,18442.8618,888.6939,655.8964,824.7565,430.1317,465.2366,381.4644,...,415.8222,451.4587,724.4136,805.1688,1214.8880,754.1314,554.8994,474.0441,408.6404,999.6834

In [404]:
coordinate

              코드     시도  시군구    읍면동         위도          경도
0     1111051500  서울특별시  종로구  청운효자동  37.584009  126.970626
1     1111053000  서울특별시  종로구    사직동  37.575408  126.965944
2     1111054000  서울특별시  종로구    삼청동  37.590758  126.980996
3     1111055000  서울특별시  종로구    부암동  37.594768  126.965574
4     1111056000  서울특별시  종로구    평창동  37.613029  126.974485
...          ...    ...  ...    ...        ...         ...
4008  1174010600  서울특별시  강동구    둔촌동  37.531157  127.142891
4009  1174010700  서울특별시  강동구    암사동  37.552497  127.133010
4010  1174010800  서울특별시  강동구    성내동  37.531338  127.129174
4011  1174010900  서울특별시  강동구    천호동  37.543676  127.131748
4012  1174011000  서울특별시  강동구    강일동  37.569204  127.171620

[891 rows x 6 columns]

In [405]:
popl_7['행정동코드'] = popl_7['행정동코드'].apply(lambda x : x * 100 )
popl_7

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220701,0,1174056000,20846.9243,818.9991,607.4987,601.4973,458.5558,478.6953,575.3735,...,472.5080,687.2636,1206.1899,983.9243,997.7539,674.5397,858.1682,632.0105,595.9335,1387.4420
1,20220701,0,1132068100,15736.8591,638.6480,427.2095,543.0753,387.3929,406.7258,364.0340,...,512.3144,437.4816,592.3657,566.3815,672.5752,778.0874,808.5344,767.0374,511.8369,1078.2873
2,20220701,0,1171064200,33484.9306,590.5560,259.1215,547.6122,1168.0764,1615.7321,2020.5939,...,1947.1895,2353.4380,2086.2610,1531.5239,1242.8944,1026.7279,874.3376,896.8396,677.9346,1376.9081
3,20220701,0,1121582000,26227.6887,556.0031,339.0859,670.3329,1095.8110,1373.8865,1309.0986,...,1786.2526,1265.1292,1199.6805,1007.9460,980.0437,901.0732,1103.1327,883.9014,574.5393,1407.9589
4,20220701,0,1123054500,31948.4742,890.8261,425.6721,690.1825,1868.8605,1681.8415,980.2639,...,1559.1687,944.3268,933.5843,851.9271,1020.5819,915.2205,1052.1750,956.0412,1001.1059,2609.3887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,20220731,23,1114061500,24152.7596,144.4987,105.2936,228.4234,775.0644,1430.7860,1674.4897,...,1297.0720,1288.7435,1411.6259,1177.3327,1060.5672,888.4488,954.5904,773.8641,457.1925,973.2884
315452,20220731,23,1123071000,18702.8045,370.9141,181.3097,556.0677,1679.7651,1197.8983,681.2906,...,1447.6310,543.1042,549.7611,472.5698,501.5160,480.9597,503.2399,431.1500,424.6274,1254.4966
315453,20220731,23,1171055000,16285.3724,518.7068,311.2234,401.0656,431.2163,557.7115,590.6219,...,441.7839,543.9800,551.5594,486.0225,578.0346,675.5376,765.6041,831.1999,525.2088,1349.9905
315454,20220731,23,1171058000,30229.0999,1181.4199,483.4989,608.1389,787.7194,1501.7294,1631.2134,...,1752.9630,1754.0432,1597.1977,1263.6023,1207.2093,996.7023,1159.7473,988.9106,772.9636,1542.8214
315455,20220731,23,1165058000,18442.8618,888.6939,655.8964,824.7565,430.1317,465.2366,381.4644,...,415.8222,451.4587,724.4136,805.1688,1214.8880,754.1314,554.8994,474.0441,408.6404,999.6834

### #4
- merge함수로 각 dataframe의 기준을 잡고, popl_7에 coordinate를 결합시켰다.

In [406]:
popl7_new = popl_7.merge(coordinate, left_on = '행정동코드', right_on='코드', how = 'left')
popl7_new

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,코드,시도,시군구,읍면동,위도,경도
0,20220701,0,1174056000,20846.9243,818.9991,607.4987,601.4973,458.5558,478.6953,575.3735,...,858.1682,632.0105,595.9335,1387.4420,1.174056e+09,서울특별시,강동구,고덕제2동,37.530120,127.123858
1,20220701,0,1132068100,15736.8591,638.6480,427.2095,543.0753,387.3929,406.7258,364.0340,...,808.5344,767.0374,511.8369,1078.2873,1.132068e+09,서울특별시,도봉구,쌍문제4동,37.668639,127.047364
2,20220701,0,1171064200,33484.9306,590.5560,259.1215,547.6122,1168.0764,1615.7321,2020.5939,...,874.3376,896.8396,677.9346,1376.9081,1.171064e+09,서울특별시,송파구,문정2동,37.489890,127.110917
3,20220701,0,1121582000,26227.6887,556.0031,339.0859,670.3329,1095.8110,1373.8865,1309.0986,...,1103.1327,883.9014,574.5393,1407.9589,1.121582e+09,서울특별시,광진구,자양제1동,37.538210,127.082191
4,20220701,0,1123054500,31948.4742,890.8261,425.6721,690.1825,1868.8605,1681.8415,980.2639,...,1052.1750,956.0412,1001.1059,2609.3887,1.123054e+09,서울특별시,동대문구,제기동,37.583778,127.037226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,20220731,23,1114061500,24152.7596,144.4987,105.2936,228.4234,775.0644,1430.7860,1674.4897,...,954.5904,773.8641,457.1925,973.2884,1.114062e+09,서울특별시,중구,신당동,37.557913,127.013655
315452,20220731,23,1123071000,18702.8045,370.9141,181.3097,556.0677,1679.7651,1197.8983,681.2906,...,503.2399,431.1500,424.6274,1254.4966,1.123071e+09,서울특별시,동대문구,회기동,37.593733,127.051434
315453,20220731,23,1171055000,16285.3724,518.7068,311.2234,401.0656,431.2163,557.7115,590.6219,...,765.6041,831.1999,525.2088,1349.9905,1.171055e+09,서울특별시,송파구,마천2동,37.496880,127.148538
315454,20220731,23,1171058000,30229.0999,1181.4199,483.4989,608.1389,787.7194,1501.7294,1631.2134,...,1159.7473,988.9106,772.9636,1542.8214,1.171058e+09,서울특별시,송파구,송파1동,37.506090,127.109571
315455,20220731,23,1165058000,18442.8618,888.6939,655.8964,824.7565,430.1317,465.2366,381.4644,...,554.8994,474.0441,408.6404,999.6834,1.165058e+09,서울특별시,서초구,반포3동,37.512027,127.005572

### #5
- popl_7에는 있지만 coordinate 데이터에는 없는 행정동 코드가 존재했다.
- 각 시간대별로 동일한 행정동 코드가 없다고 판단했다.
- 그래서 NaN값을 DROP했다.

In [407]:
popl7_new.isnull().sum()

기준일ID                 0
시간대구분                 0
행정동코드                 0
총생활인구수                0
남자0세부터9세생활인구수         0
남자10세부터14세생활인구수       0
남자15세부터19세생활인구수       0
남자20세부터24세생활인구수       0
남자25세부터29세생활인구수       0
남자30세부터34세생활인구수       0
남자35세부터39세생활인구수       0
남자40세부터44세생활인구수       0
남자45세부터49세생활인구수       0
남자50세부터54세생활인구수       0
남자55세부터59세생활인구수       0
남자60세부터64세생활인구수       0
남자65세부터69세생활인구수       0
남자70세이상생활인구수          0
여자0세부터9세생활인구수         0
여자10세부터14세생활인구수       0
여자15세부터19세생활인구수       0
여자20세부터24세생활인구수       0
여자25세부터29세생활인구수       0
여자30세부터34세생활인구수       0
여자35세부터39세생활인구수       0
여자40세부터44세생활인구수       0
여자45세부터49세생활인구수       0
여자50세부터54세생활인구수       0
여자55세부터59세생활인구수       0
여자60세부터64세생활인구수       0
여자65세부터69세생활인구수       0
여자70세이상생활인구수          0
코드                 4464
시도                 4464
시군구                4464
읍면동                4464
위도                 4464
경도                 4464
dtype: int64

In [408]:
a = popl7_new[(popl7_new['코드'].isnull()) & (popl7_new['시간대구분']==16)]['행정동코드'].to_list()
b = popl7_new[(popl7_new['코드'].isnull()) & (popl7_new['시간대구분']==10)]['행정동코드'].to_list()

# 시간대를 대체적으로 조사해봤는데 모두 동일한 행정동 코드가 없다고 판단.
array = []
for i in b:
    if i not in a:
        array.append(i)
array

[]

In [409]:
popl7_new.dropna(axis = 0, inplace = True)
popl7_new.isnull().sum()

기준일ID              0
시간대구분              0
행정동코드              0
총생활인구수             0
남자0세부터9세생활인구수      0
남자10세부터14세생활인구수    0
남자15세부터19세생활인구수    0
남자20세부터24세생활인구수    0
남자25세부터29세생활인구수    0
남자30세부터34세생활인구수    0
남자35세부터39세생활인구수    0
남자40세부터44세생활인구수    0
남자45세부터49세생활인구수    0
남자50세부터54세생활인구수    0
남자55세부터59세생활인구수    0
남자60세부터64세생활인구수    0
남자65세부터69세생활인구수    0
남자70세이상생활인구수       0
여자0세부터9세생활인구수      0
여자10세부터14세생활인구수    0
여자15세부터19세생활인구수    0
여자20세부터24세생활인구수    0
여자25세부터29세생활인구수    0
여자30세부터34세생활인구수    0
여자35세부터39세생활인구수    0
여자40세부터44세생활인구수    0
여자45세부터49세생활인구수    0
여자50세부터54세생활인구수    0
여자55세부터59세생활인구수    0
여자60세부터64세생활인구수    0
여자65세부터69세생활인구수    0
여자70세이상생활인구수       0
코드                 0
시도                 0
시군구                0
읍면동                0
위도                 0
경도                 0
dtype: int64

### #6
- 필요없는 데이터를 지워주고
- 구, 동, 시간별로 평균을 냈다.

In [410]:
popl7_new.drop(columns = ['행정동코드','코드','시도','기준일ID'], axis = 1, inplace = True)     
popl7_new = popl7_new.groupby(['시군구','읍면동','위도','경도','시간대구분']).mean()
popl7_new

                                            총생활인구수  남자0세부터9세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0       9732.203255     407.956035
                               1       9686.774042     404.903484
                               2       9745.895458     403.595790
                               3       9771.396945     403.654535
                               4      10132.810819     410.751487
...                                            ...            ...
중랑구 중화제2동 37.606736 127.092924 19     25662.984352     691.937442
                               20     26036.984526     696.931084
                               21     26228.795129     689.458990
                               22     26247.814600     670.137371
                               23     25346.473226     667.499603

                                      남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           258.724071       319.698835
                               1           256.788116       315.717887
                               2           255.958781       318.144839
                               3           255.995971       322.526777
                               4           260.496916       328.156042
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          311.467448       461.806665
                               20          313.715335       478.652626
                               21          310.351797       487.368868
                               22          301.654429       485.633535
                               23          300.467032       441.294903

                                      남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           176.479368       198.254787
                               1           184.170235       196.017890
                               2           189.015016       193.513603
                               3           189.474955       195.179803
                               4           201.002910       202.402919
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          756.639448       780.590887
                               20          759.785519       818.275648
                               21          760.500819       848.999055
                               22          764.771819       873.102332
                               23          711.044745       833.160432

                                      남자30세부터34세생활인구수  남자35세부터39세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           236.600342       357.624855
                               1           234.563294       358.847390
                               2           237.911574       367.324090
                               3           237.541719       370.644439
                               4           243.836935       385.018694
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          829.479845      1075.490042
                               20          860.705132      1118.805094
                               21          874.654477      1146.378019
                               22          891.396071      1169.674906
                               23          900.120774      1129.152226

                                      남자40세부터44세생활인구수  남자45세부터49세생활인구수  ...  \
시군구 읍면동   위도        경도         시간대구분                                    ...
강남구 개포1동  37.481925 127.057439 0           429.166006       460.933152  ...
                               1           432.488784       460.659961  ...
                               2           437.267868       459.549145  ...
                               3           434.458129       460.293126  ...
                               4           448.619061       480.271887  ...
...                                               ...              ...  ...
중랑구 중화제2동 37.606736 127.092924 19          871.934306      1004.819929  ...
                               20          890.551313      1011.375426  ...
                               21          904.901077      1027.181581  ...
                               22          902.237248      1024.742855  ...
                               23          855.213400       995.011568  ...

                                      여자25세부터29세생활인구수  여자30세부터34세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           188.628939       303.737474
                               1           190.781694       305.731519
                               2           195.063897       310.566929
                               3           192.903323       310.516823
                               4           198.209890       325.603016
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          884.008445       837.804868
                               20          918.516839       880.144981
                               21          957.420313       913.034110
                               22          987.101687       922.244671
                               23          983.096523       874.549913

                                      여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           414.687629       458.340229
                               1           415.279161       453.057632
                               2           418.029690       456.996081
                               3           422.599823       459.393074
                               4           445.488461       466.764506
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          981.200432       863.732665
                               20         1022.731674       870.733168
                               21         1044.474123       873.611716
                               22         1063.087877       873.200542
                               23         1032.663061       846.399348

                                      여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           512.504174       335.296948
                               1           505.259539       336.657413
                               2           508.773671       338.566677
                               3           508.293148       339.266819
                               4           528.886723       351.721977
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          964.201577      1081.346948
                               20          977.750700      1095.112948
                               21          975.094352      1117.370329
                               22          981.898042      1127.347619
                               23          950.073584      1077.243845

                                      여자55세부터59세생활인구수  여자60세부터64세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           380.142035       331.887503
                               1           374.886781       327.873039
                               2           377.702732       326.603832
                               3           379.675584       326.296116
                               4           394.036781       336.577177
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1224.831432      1167.794958
                               20         1234.175452      1177.146471
                               21         1238.881568      1173.541229
                               22         1235.430248      1180.022406
                               23         1213.678232      1135.813210

                                      여자65세부터69세생활인구수  여자70세이상생활인구수
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           325.865523    670.675800
                               1           324.056135    659.444968
                               2           326.864190    661.249032
                               3           328.171597    668.482719
                               4           340.748232    691.431861
...                                               ...           ...
중랑구 중화제2동 37.606736 127.092924 19          861.509610   2200.449977
                               20          858.649355   2199.813323
                               21          848.773097   2195.213016
                               22          839.466658   2161.841558
                               23          806.808135   2120.704361

[10032 rows x 29 columns]

### #번외
- 잘만들어졌는지 확인하기 위해 reset_index를 통해 index들을 column으로 만들어주었고
- 읍면동을 확인했는데
- 신사동이 48개로 나와서 당황했다.
- 48개인 값은 신사동밖에 없어서 확인해봤는데, 강남구뿐만 아니라 관악구에도 신사동이 있었다.

In [411]:
popl7_new = popl7_new.reset_index()
popl7_new['읍면동'].value_counts()[popl7_new['읍면동'].value_counts() != 24]

신사동    48
Name: 읍면동, dtype: int64

# 정리

In [412]:
interseting = pd.read_excel("C:\workspace\dataset\interesting.xlsx", engine='openpyxl')
coordinate = pd.read_excel("C:\workspace\dataset\coordinate.xlsx", engine='openpyxl')
#1
index_seoul = coordinate[coordinate['시도']=='서울특별시'].index
coordinate = coordinate.loc[index_seoul,:]
coordinate.drop(['코드종류','하위'], axis= 1, inplace = True)

def data_control(x):
    #2
    x = x.reset_index()
    x.drop('여자70세이상생활인구수', axis = 1, inplace = True)
    x.columns = ['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수',
                 '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '남자20세부터24세생활인구수',
                 '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
                 '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수',
                 '남자55세부터59세생활인구수', '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수',
                 '여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수',
                 '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수',
                 '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수',
                 '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', '여자60세부터64세생활인구수',
                 '여자65세부터69세생활인구수', '여자70세이상생활인구수']
    #3
    x['행정동코드'] = x['행정동코드'].apply(lambda x : x * 100 )
    
    #4
    x_new = x.merge(coordinate, left_on = '행정동코드', right_on='코드', how = 'left')
    
    #5
    x_new.dropna(axis = 0, inplace = True)
    
    #6
    x_new.drop(columns = ['행정동코드','코드','시도','기준일ID'], axis = 1, inplace = True)
    x_new = x_new.groupby(['시군구','읍면동','위도','경도','시간대구분']).mean()
    
    return x_new

files = os.listdir("C:\workspace\dataset")
files = files[3:]
for i in files:
    globals()[i.split('.')[0]] = data_control(pd.read_csv(f'C:/workspace/dataset/{i}'))
    print("Merge DataFrame : {0}".format(i.split('.')[0]))

Merge DataFrame : popl_5
Merge DataFrame : popl_6
Merge DataFrame : popl_7

In [413]:
popl_5

                                            총생활인구수  남자0세부터9세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0       9785.475790     412.577381
                               1       9843.701932     406.592048
                               2       9885.179845     412.156365
                               3       9915.880594     414.804332
                               4      10288.735455     428.179200
...                                            ...            ...
중랑구 중화제2동 37.606736 127.092924 19     26802.578800     753.083768
                               20     27094.673713     748.180052
                               21     27194.418132     732.874123
                               22     27117.898284     688.761677
                               23     26085.057539     685.450816

                                      남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           261.654935       292.005881
                               1           257.858935       297.482652
                               2           261.387823       300.605316
                               3           263.067174       300.375903
                               4           271.549403       315.192071
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          338.991774       474.394219
                               20          336.784442       486.684258
                               21          329.894713       492.150855
                               22          310.037939       494.515648
                               23          308.547642       436.617039

                                      남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           152.214735       213.631848
                               1           156.844971       215.412839
                               2           159.778526       213.425935
                               3           161.256932       212.477348
                               4           165.991258       218.683610
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          775.933935       813.799177
                               20          782.472694       840.188023
                               21          793.592839       863.035481
                               22          800.465013       882.267135
                               23          735.466513       851.025906

                                      남자30세부터34세생활인구수  남자35세부터39세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           221.768052       388.030148
                               1           224.381629       388.413913
                               2           223.264829       395.223752
                               3           222.009168       397.140284
                               4           231.972303       405.521477
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          872.857032      1106.802877
                               20          902.035110      1141.576152
                               21          924.167226      1143.347016
                               22          947.408342      1168.730584
                               23          963.208635      1141.940674

                                      남자40세부터44세생활인구수  남자45세부터49세생활인구수  ...  \
시군구 읍면동   위도        경도         시간대구분                                    ...
강남구 개포1동  37.481925 127.057439 0           453.898206       458.642574  ...
                               1           461.059361       459.058055  ...
                               2           464.023913       463.247835  ...
                               3           464.526910       460.906597  ...
                               4           474.938639       479.354061  ...
...                                               ...              ...  ...
중랑구 중화제2동 37.606736 127.092924 19          907.101606      1014.427565  ...
                               20          920.929052      1032.037484  ...
                               21          922.994816      1039.634787  ...
                               22          929.729310      1046.762948  ...
                               23          873.699932      1005.195810  ...

                                      여자25세부터29세생활인구수  여자30세부터34세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           195.353355       314.569252
                               1           198.356284       322.031300
                               2           195.295587       324.983090
                               3           196.522439       325.949406
                               4           204.596300       341.385865
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          911.742190       869.461390
                               20          946.628777       911.679984
                               21          997.056152       927.050097
                               22         1033.164703       943.538106
                               23         1000.381610       911.158774

                                      여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           432.949552       458.457942
                               1           438.269329       462.269897
                               2           444.560429       463.024755
                               3           449.406842       463.747065
                               4           468.078284       478.448584
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1034.273445       866.773287
                               20         1059.753394       881.734903
                               21         1067.576803       883.983961
                               22         1088.926832       879.789523
                               23         1057.150842       849.192555

                                      여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           489.306816       332.378358
                               1           489.449597       332.917674
                               2           489.986574       335.405029
                               3           490.613235       336.461132
                               4           511.740897       354.199945
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1043.616661      1088.968194
                               20         1042.411616      1104.809384
                               21         1032.563387      1117.295432
                               22         1044.432703      1123.934648
                               23          991.026513      1089.924977

                                      여자55세부터59세생활인구수  여자60세부터64세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           395.625884       351.011387
                               1           392.507723       353.290058
                               2           398.003490       352.777381
                               3           398.373568       353.682977
                               4           410.769748       367.259897
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1267.891526      1181.879777
                               20         1277.860271      1182.358542
                               21         1283.496594      1181.169077
                               22         1265.320158      1181.147174
                               23         1251.369623      1149.141574

                                      여자65세부터69세생활인구수  여자70세이상생활인구수
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           343.052558    678.464232
                               1           344.673552    679.573032
                               2           346.173242    681.170023
                               3           347.544868    679.939806
                               4           357.558010    702.970687
...                                               ...           ...
중랑구 중화제2동 37.606736 127.092924 19          900.303455   2301.969584
                               20          889.331932   2306.844194
                               21          881.358835   2288.843781
                               22          880.337897   2266.347623
                               23          849.427952   2180.371897

[10032 rows x 29 columns]

In [414]:
popl_6

                                            총생활인구수  남자0세부터9세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0       9899.585437     389.659853
                               1       9949.709990     387.741000
                               2       9980.183647     386.882690
                               3       9999.882913     389.411007
                               4      10364.450623     407.951353
...                                            ...            ...
중랑구 중화제2동 37.606736 127.092924 19     26482.381770     750.246053
                               20     26851.431280     726.085047
                               21     27081.304687     731.659767
                               22     27103.374330     694.717173
                               23     25983.312370     673.630650

                                      남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           247.120680       312.429960
                               1           245.903713       316.607660
                               2           245.359427       321.220450
                               3           246.962883       323.162233
                               4           258.721017       333.292593
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          337.714433       480.273150
                               20          326.838553       494.554477
                               21          329.348070       497.267987
                               22          312.718633       506.592580
                               23          303.226897       430.910283

                                      남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           166.184087       209.116277
                               1           175.522210       209.403967
                               2           178.517067       214.183233
                               3           182.757823       212.583420
                               4           186.743093       217.806453
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          763.492150       803.761337
                               20          772.424403       833.499353
                               21          785.323710       858.929260
                               22          796.254557       891.847243
                               23          728.842340       858.327260

                                      남자30세부터34세생활인구수  남자35세부터39세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           218.038423       368.297267
                               1           219.529410       375.916673
                               2           222.507513       379.619747
                               3           219.241427       382.161897
                               4           224.950967       393.981407
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          862.147913      1121.027220
                               20          885.217237      1159.744867
                               21          902.335663      1183.302100
                               22          936.522417      1200.754487
                               23          943.309383      1169.113793

                                      남자40세부터44세생활인구수  남자45세부터49세생활인구수  ...  \
시군구 읍면동   위도        경도         시간대구분                                    ...
강남구 개포1동  37.481925 127.057439 0           457.321527       454.987587  ...
                               1           461.910507       455.851250  ...
                               2           462.615783       457.306457  ...
                               3           464.528003       460.109477  ...
                               4           471.635893       477.282357  ...
...                                               ...              ...  ...
중랑구 중화제2동 37.606736 127.092924 19          895.062120      1009.199377  ...
                               20          917.758447      1032.346163  ...
                               21          929.640980      1049.482643  ...
                               22          936.019827      1049.031573  ...
                               23          875.418823      1018.358117  ...

                                      여자25세부터29세생활인구수  여자30세부터34세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           200.089367       318.374187
                               1           203.577350       322.929657
                               2           204.459090       325.802857
                               3           203.300470       325.473203
                               4           209.907867       338.572130
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          891.237363       841.914283
                               20          928.142663       889.212540
                               21          971.575580       923.905730
                               22         1006.895137       939.820267
                               23          984.447780       895.550717

                                      여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           435.337640       471.950757
                               1           436.788633       476.750870
                               2           442.447767       475.812857
                               3           449.540697       478.678923
                               4           469.955543       488.912003
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1015.369527       878.113733
                               20         1051.503070       892.976237
                               21         1068.772120       897.151243
                               22         1074.309217       903.443710
                               23         1052.369207       870.191823

                                      여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           508.582753       338.757160
                               1           508.095363       341.360853
                               2           510.917783       343.423357
                               3           504.799310       343.071080
                               4           528.860313       354.419500
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1028.925000      1088.586623
                               20         1028.360980      1111.672163
                               21         1030.036830      1136.419427
                               22         1037.423790      1139.586167
                               23          995.176737      1089.426510

                                      여자55세부터59세생활인구수  여자60세부터64세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           402.011750       346.754863
                               1           402.770773       343.902850
                               2           402.476813       342.930173
                               3           405.217050       342.394143
                               4           416.652710       352.948407
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1234.222147      1191.460573
                               20         1252.281500      1197.532303
                               21         1256.563870      1199.311417
                               22         1240.852417      1204.737317
                               23         1238.290710      1155.023707

                                      여자65세부터69세생활인구수  여자70세이상생활인구수
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           342.293623    684.856140
                               1           340.252250    690.134427
                               2           342.535733    682.085583
                               3           342.601253    687.948370
                               4           355.199693    712.979597
...                                               ...           ...
중랑구 중화제2동 37.606736 127.092924 19          883.603250   2291.050260
                               20          875.595730   2288.211873
                               21          871.636440   2294.462077
                               22          877.545260   2266.229247
                               23          842.180643   2196.520743

[10032 rows x 29 columns]

In [415]:
popl_7

                                            총생활인구수  남자0세부터9세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0       9732.203255     407.956035
                               1       9686.774042     404.903484
                               2       9745.895458     403.595790
                               3       9771.396945     403.654535
                               4      10132.810819     410.751487
...                                            ...            ...
중랑구 중화제2동 37.606736 127.092924 19     25662.984352     691.937442
                               20     26036.984526     696.931084
                               21     26228.795129     689.458990
                               22     26247.814600     670.137371
                               23     25346.473226     667.499603

                                      남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           258.724071       319.698835
                               1           256.788116       315.717887
                               2           255.958781       318.144839
                               3           255.995971       322.526777
                               4           260.496916       328.156042
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          311.467448       461.806665
                               20          313.715335       478.652626
                               21          310.351797       487.368868
                               22          301.654429       485.633535
                               23          300.467032       441.294903

                                      남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           176.479368       198.254787
                               1           184.170235       196.017890
                               2           189.015016       193.513603
                               3           189.474955       195.179803
                               4           201.002910       202.402919
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          756.639448       780.590887
                               20          759.785519       818.275648
                               21          760.500819       848.999055
                               22          764.771819       873.102332
                               23          711.044745       833.160432

                                      남자30세부터34세생활인구수  남자35세부터39세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           236.600342       357.624855
                               1           234.563294       358.847390
                               2           237.911574       367.324090
                               3           237.541719       370.644439
                               4           243.836935       385.018694
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          829.479845      1075.490042
                               20          860.705132      1118.805094
                               21          874.654477      1146.378019
                               22          891.396071      1169.674906
                               23          900.120774      1129.152226

                                      남자40세부터44세생활인구수  남자45세부터49세생활인구수  ...  \
시군구 읍면동   위도        경도         시간대구분                                    ...
강남구 개포1동  37.481925 127.057439 0           429.166006       460.933152  ...
                               1           432.488784       460.659961  ...
                               2           437.267868       459.549145  ...
                               3           434.458129       460.293126  ...
                               4           448.619061       480.271887  ...
...                                               ...              ...  ...
중랑구 중화제2동 37.606736 127.092924 19          871.934306      1004.819929  ...
                               20          890.551313      1011.375426  ...
                               21          904.901077      1027.181581  ...
                               22          902.237248      1024.742855  ...
                               23          855.213400       995.011568  ...

                                      여자25세부터29세생활인구수  여자30세부터34세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           188.628939       303.737474
                               1           190.781694       305.731519
                               2           195.063897       310.566929
                               3           192.903323       310.516823
                               4           198.209890       325.603016
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          884.008445       837.804868
                               20          918.516839       880.144981
                               21          957.420313       913.034110
                               22          987.101687       922.244671
                               23          983.096523       874.549913

                                      여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           414.687629       458.340229
                               1           415.279161       453.057632
                               2           418.029690       456.996081
                               3           422.599823       459.393074
                               4           445.488461       466.764506
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          981.200432       863.732665
                               20         1022.731674       870.733168
                               21         1044.474123       873.611716
                               22         1063.087877       873.200542
                               23         1032.663061       846.399348

                                      여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           512.504174       335.296948
                               1           505.259539       336.657413
                               2           508.773671       338.566677
                               3           508.293148       339.266819
                               4           528.886723       351.721977
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19          964.201577      1081.346948
                               20          977.750700      1095.112948
                               21          975.094352      1117.370329
                               22          981.898042      1127.347619
                               23          950.073584      1077.243845

                                      여자55세부터59세생활인구수  여자60세부터64세생활인구수  \
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           380.142035       331.887503
                               1           374.886781       327.873039
                               2           377.702732       326.603832
                               3           379.675584       326.296116
                               4           394.036781       336.577177
...                                               ...              ...
중랑구 중화제2동 37.606736 127.092924 19         1224.831432      1167.794958
                               20         1234.175452      1177.146471
                               21         1238.881568      1173.541229
                               22         1235.430248      1180.022406
                               23         1213.678232      1135.813210

                                      여자65세부터69세생활인구수  여자70세이상생활인구수
시군구 읍면동   위도        경도         시간대구분
강남구 개포1동  37.481925 127.057439 0           325.865523    670.675800
                               1           324.056135    659.444968
                               2           326.864190    661.249032
                               3           328.171597    668.482719
                               4           340.748232    691.431861
...                                               ...           ...
중랑구 중화제2동 37.606736 127.092924 19          861.509610   2200.449977
                               20          858.649355   2199.813323
                               21          848.773097   2195.213016
                               22          839.466658   2161.841558
                               23          806.808135   2120.704361

[10032 rows x 29 columns]